@import 'reset';
@import 'custom_properties';
@import 'variables';
@import 'mixin';

@font-face {
  font-family: 'wevlimedium';
  src: url('wevli_medium-webfont.woff2') format('woff2'),
  url('wevli_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wevlimedium_italic';
  src: url('wevli_medium_italic-webfont.woff2') format('woff2'),
  url('wevli_medium_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wevlibold_italic';
  src: url('wevli_bold_italic-webfont.woff2') format('woff2'),
  url('wevli_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wevlibold';
  src: url('wevli_bold-webfont.woff2') format('woff2'),
  url('wevli_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $baseFontFamily;
  font-weight: 400;
  line-height: #{$baseLineHeight};
  color: white;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
}

html {
  font-size: #{$baseFontSize};
  overflow-x: hidden;
  background: url("../../static/background.svg") no-repeat center center fixed;
  background-size: cover;
}

:root {
  --wrapperColour: #222326;
  --borderColour: #5d6572;
  --border: 2px solid #5d6572;
}

.wrapper {
  width: 1200px;
  background-color: var(--wrapperColour);
  border-radius: 25px;
  display: inline-block;
  margin-top: 10px;
}

.export {
  header {
    text-align: center;
  }

  .title {
    @include font-calculator($baseFontFamily, 30px, 2);
  }

  .status {
    @include font-calculator($baseFontFamily, 18px);
  }

  ul.social {
    display: flex;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: flex-end;
    button {
      background: transparent;
      border: none;
    }

    img {
      width: 250px;
    }
  }
}

main {
  height: 100%;
  width: 100%;

  header {
    background: transparent;
  }

  article {
    .top {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)) 150px;
      grid-column-gap: 5%;
      padding: var(--marginx5) 5% var(--marginx3) 5%;

      .column-one {
        border: var(--border);
        border-top-left-radius: 50px;
        min-height: 290px;
        position: relative;

        .message {
          padding: var(--margin) 10px;
          position: absolute;
          bottom: 0;

          a.demo {
            color: #e0b838
          }
        }

        .message p {
          @include font-calculator($baseFontFamily, 14px);
          color: lighten(#20E0BB, 20%);

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      .filelists {
        margin-top: var(--marginx7);
        border-top: none;
        border-bottom: 2px solid #5D6572;

        .file-row {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
          grid-auto-flow: column dense;
          align-content: space-evenly;
          &:not(:empty) {
            border-top: 1px solid #5D6572;
          }

          p {
            @include font-calculator($baseFontFamily, 16px, 0);
            color: #20E0BB;
            word-break: break-all;
          }

          div[class*="column"] {
            display: grid;
            place-items: center;
            padding: var(--margin) 5px;

            &:not(:first-of-type) {
              border-left: 2px solid #5D6572;
            }
          }

          .icon {
            width: 5rem;
            aspect-ratio: 8 / 6;
          }
        }
      }

      .column-two {
        border: var(--border);
        background-clip: padding-box;

        .viewer {
        }

        .viewer img {
          border-radius: 10px/10px;
          object-fit: cover;
        }
      }

      .column-three {
        .levels {
          border: var(--border);
          height: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 100%;
          width: 100%;
          justify-content: center;
          background: transparent;

          .left {
            &.default {
              background: rgb(32, 224, 187);
            }
          }

          .right {
            &.default {
              background: rgb(14, 175, 163);
            }
          }
        }
      }
    }

    .middle {
      display: grid;
      grid-template-columns: minmax(360px, 0.5fr) minmax(360px, 1.5fr);
      padding: 0 5%;

      .column-one {
        .admin {
          width: 5rem;
          aspect-ratio: 8 / 6;
        }

        .break {
          background: rgb(0, 120, 253);
        }

        time {
          @include font-calculator($baseFontFamily, 22px);

          &.duration {
            color: rgb(238, 185, 34);
          }
        }
      }

      .column-two {
        ul {
          display: flex;
          justify-content: flex-end;
          align-content: center;
          column-gap: 2rem;

          button {
            border: none;
            background: none;
          }

          input[type="file"] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }

          input[type="file"] + label {
            background: url("../../static/import.svg") no-repeat top center;
            width: 3rem;
            aspect-ratio: 8 / 6;
            color: rgba(255, 255, 255, 0);
            display: inline-block;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              transform: scale(1.1);
            }
          }

          form {
            position: relative;
          }

          .fileStyling {
            + .Errors {
              position: absolute;
              transform: translate(-50%, 50%);
              white-space: nowrap;
              color: #e2376c;
              @include font-calculator($baseFontFamily, 12px);
            }
          }

          .left-cut, .right-cut, .left-frame, .play, .right-frame, .upload, .export, .stop, .forward, .backward {
            width: 3rem;
            aspect-ratio: 8 / 6;
            transition: all 0.3s;
            fill: #20e0bb;

            &:hover {
              transform: scale(1.1);
            }
          }

          .sound {
            width: 3.6rem;
            aspect-ratio: 8 / 6;
            fill: #20e0bb;
            transition: all 0.3s;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .bottom {
      margin: var(--marginx4) 5% var(--marginx5) 5%;
      border: var(--border);
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      button {
        border: none;
        background: none;
      }

      > div:last-of-type {
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
      }

      .eye {
        width: 4rem;
        aspect-ratio: 8 / 6;
      }

      .row-one {
        height: 100px;
        display: grid;
        grid-template-columns: minmax(250px, 0.5fr) minmax(360px, 1.5fr);
        border-bottom: var(--border);

        .controls {
          border-right: var(--border);
          display: grid;
          place-items: center;
        }

        .timeline {
          display: grid;
          grid-auto-flow: column;

          .image-container {
            display: grid;
            place-items: center;
            img {
              object-fit: scale-down;
              image-rendering: pixelated;
            }
          }
        }
      }

      .row-two {
        height: 100px;
        display: grid;
        grid-template-columns: minmax(250px, 0.5fr) minmax(360px, 1.5fr);

        path.wave {
          stroke: none;
          stroke-width: 0.1;
          fill: #20e0bb;
        }

        .controls {
          border-right: var(--border);
          display: grid;
          place-items: center;
        }

        .timeline {
        }
      }

      .row-timeline {
        display: grid;
        grid-template-columns: minmax(250px, 0.5fr) minmax(360px, 1.5fr);

        .timeline {
          height: 0;

          .timeline-ticks {
            height: 30px;
            width: 100%;
            transform: translate(0, -29px);

            .waveform {
              display: none;
            }

            .axis-top {
              text {

              }
              .tick {
                &:first-of-type {
                  transform: translate(2px, 0);
                }
                &:last-of-type {

                }
              }
              > path {
                color: transparent;
              }
            }
          }
        }
      }

      .row-three {
        display: grid;
        grid-template-columns: minmax(250px, 0.5fr) minmax(360px, 1.5fr);

        .timeline {
        }

        .timeline-display {
          height: 0;

          > svg {
            height: 300px;
            transform: translate(-17px, -230px);
            opacity: 0.6;
          }
        }
      }
    }
  }
}

div[role="tooltip"] {
  background: #e0b838;
  color: #161719;
  @include font-calculator($baseFontFamily, 13px, 0);
  padding: 5px;
  border-radius: 5px;
}

.fragmentDetails {
  color: red;
  font-size: clamp(200%, 1rem + 2vw, 20px);
}

video {
  width: 100%;
  aspect-ratio: 11 / 8;
  object-fit: scale-down;
}

.path {
  stroke: #B8B8B8;
}
.lds-dual-ring {
  display: inline-block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%) translateZ(1px);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 120px;
  height: 120px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.lds-circle {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%) translateZ(1px);
  opacity: 0.5;
}
.lds-circle > div {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}


.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%) translateZ(0);
  font-size: 10px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  animation: load3 1.4s infinite linear;
  z-index: 100;
}
.spinner::before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner::after {
  background: #161719;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}