@import 'reset';
@import 'custom_properties';
@import 'variables';
@import 'mixin';

@font-face {
  font-family: 'wevlimedium';
  src: url('wevli_medium-webfont.woff2') format('woff2'),
  url('wevli_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wevlimedium_italic';
  src: url('wevli_medium_italic-webfont.woff2') format('woff2'),
  url('wevli_medium_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wevlibold_italic';
  src: url('wevli_bold_italic-webfont.woff2') format('woff2'),
  url('wevli_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'wevlibold';
  src: url('wevli_bold-webfont.woff2') format('woff2'),
  url('wevli_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $baseFontFamily;
  font-weight: 400;
  line-height: #{$baseLineHeight};
  color: white;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
}

html {
  font-size: #{$baseFontSize};
  overflow-x: hidden;
  background: url("../../static/background.svg") no-repeat center center fixed;
  background-size: cover;
}

:root {
  --wrapperColour: #222326;
  --borderColour: #5d6572;
  --border: 2px solid #5d6572;
}

.wrapper {
  width: 1200px;
  background-color: var(--wrapperColour);
  border-radius: 25px;
  display: inline-block;
}

main {
  height: 100%;
  width: 100%;

  header {
    background: transparent;

    img {

    }
  }

  article {
    .top {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)) 150px;
      grid-column-gap: 5%;
      padding: var(--marginx5) 5% var(--marginx3) 5%;

      .column-one {
        border: var(--border);
        border-top-left-radius: 50px;
        min-height: 290px;
      }

      .column-two {
        border: var(--border);
        background-clip: padding-box;

        .viewer {
        }

        .viewer img {
          border-radius: 10px/10px;
          object-fit: cover;
        }

      }

      .column-three {
        .levels {
          border: var(--border);
          height: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 100%;
          width: 100%;
          justify-content: center;
          background: white;

          .left {
            meter {
              appearance: none;
              -moz-appearance: meter;
              -webkit-appearance: meter;
              width: 100%;
              height: 0;
              transform: rotate(-90deg) translateX(-150px) translateY(10px);
            }

            meter::-webkit-meter-optimum-value {
              background-image: repeating-linear-gradient(to right,
                      transparent 0rem, transparent 0.25rem,
                      green 0.25rem, green 0.5rem, transparent 0.5rem, transparent 0.75rem,
                      green 0.75rem, green 1rem, transparent 1rem, transparent 1.25rem,
                      green 1.25rem, green 1.5rem, transparent 1.5rem, transparent 1.75rem,
                      green 1.75rem, green 2rem, transparent 2rem, transparent 2.25rem),
              repeating-linear-gradient(to right,
                              transparent 0%, transparent 2.25rem, green 2.25rem, green 2.5rem, transparent 2.5rem);
              background-size: 2.5rem 3rem, 2.5rem 4rem;
              background-position-y: center, center;
              background-repeat: repeat-x, repeat-x;
            }

            meter::-moz-meter-bar {
              background: none;
              background-image: repeating-linear-gradient(to right,
                      transparent 0rem, transparent 0.25rem,
                      green 0.25rem, green 0.5rem, transparent 0.5rem, transparent 0.75rem,
                      green 0.75rem, green 1rem, transparent 1rem, transparent 1.25rem,
                      green 1.25rem, green 1.5rem, transparent 1.5rem, transparent 1.75rem,
                      green 1.75rem, green 2rem, transparent 2rem, transparent 2.25rem),
              repeating-linear-gradient(to right,
                              transparent 0%, transparent 2.25rem, green 2.25rem, green 2.5rem, transparent 2.5rem);
              background-size: 2.5rem 3rem, 2.5rem 4rem;
              background-position-y: center, center;
              background-repeat: repeat-x, repeat-x;
            }

          }

          .right {

            meter,
            meter::-webkit-meter-bar,
            meter::-webkit-meter-optimum-value,
            meter::-webkit-meter-suboptimum-value,
            meter::-webkit-meter-even-less-good-value,
            meter::-webkit-meter-inner-element {
              background: none;
              border-radius: 0;
              border: none;
              width: 100%;
              height: 4rem;
            }

            meter {
              appearance: none;
              -moz-appearance: meter;
              -webkit-appearance: meter;
             /* width: 100%; //very important
              height: 100%;*/
              width: 300px;
              height: 0;
              transform: rotate(-90deg) translateX(-150px) translateY(10px);
            }

            meter::-webkit-meter-optimum-value {
              background-image: repeating-linear-gradient(to right,
                      transparent 0rem, transparent 0.25rem,
                      green 0.25rem, green 0.5rem, transparent 0.5rem, transparent 0.75rem,
                      green 0.75rem, green 1rem, transparent 1rem, transparent 1.25rem,
                      green 1.25rem, green 1.5rem, transparent 1.5rem, transparent 1.75rem,
                      green 1.75rem, green 2rem, transparent 2rem, transparent 2.25rem),
              repeating-linear-gradient(to right,
                              transparent 0%, transparent 2.25rem, green 2.25rem, green 2.5rem, transparent 2.5rem);
              background-size: 2.5rem 3rem, 2.5rem 4rem;
              background-position-y: center, center;
              background-repeat: repeat-x, repeat-x;
            }

            meter::-moz-meter-bar {
              background: none;
              background-image: repeating-linear-gradient(to right,
                      transparent 0rem, transparent 0.25rem,
                      green 0.25rem, green 0.5rem, transparent 0.5rem, transparent 0.75rem,
                      green 0.75rem, green 1rem, transparent 1rem, transparent 1.25rem,
                      green 1.25rem, green 1.5rem, transparent 1.5rem, transparent 1.75rem,
                      green 1.75rem, green 2rem, transparent 2rem, transparent 2.25rem),
              repeating-linear-gradient(to right,
                              transparent 0%, transparent 2.25rem, green 2.25rem, green 2.5rem, transparent 2.5rem);
              background-size: 2.5rem 3rem, 2.5rem 4rem;
              background-position-y: center, center;
              background-repeat: repeat-x, repeat-x;
            }

          }
        }
      }
    }

    .middle {
      display: grid;
      grid-template-columns: minmax(360px, 0.5fr) minmax(360px, 1.5fr);
      padding: 0 5%;

      .column-one {
        .admin {
          width: 5rem;
          aspect-ratio: 8 / 6;
        }

        time {
          @include font-calculator($baseFontFamily, 22px);
        }
      }

      .column-two {
        ul {
          display: flex;
          justify-content: flex-end;
          align-content: center;
          column-gap: 2rem;

          button {
            border: none;
            background: none;
          }

          input[type="file"] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }

          input[type="file"] + label {
            background: url("../../static/import.svg") no-repeat top center;
            width: 3rem;
            aspect-ratio: 8 / 6;
            color: rgba(255, 255, 255, 0);
            display: inline-block;
            cursor: pointer;
          }

          form {
            position: relative;
          }

          .fileStyling {
            + .Errors {
              position: absolute;
              transform: translate(-50%, 50%);
              white-space: nowrap;
              color: #e2376c;
              @include font-calculator($baseFontFamily, 12px);
            }
          }

          .left-cut, .right-cut, .left-frame, .play, .right-frame, .upload, .export, .stop, .forward, .backward {
            width: 3rem;
            aspect-ratio: 8 / 6;
            fill: #20e0bb;
          }
        }
      }
    }

    .bottom {
      margin: var(--marginx3) 5% var(--marginx5) 5%;
      border: var(--border);
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      button {
        border: none;
        background: none;
      }

      > div:last-of-type {
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
      }

      .eye {
        width: 4rem;
        aspect-ratio: 8 / 6;
      }

      .row-one {
        height: 100px;
        display: grid;
        grid-template-columns: minmax(250px, 0.5fr) minmax(360px, 1.5fr);
        border-bottom: var(--border);

        .controls {
          border-right: var(--border);
          display: grid;
          place-items: center;
        }

        .timeline {

        }
      }

      .row-two {
        height: 100px;
        display: grid;
        grid-template-columns: minmax(250px, 0.5fr) minmax(360px, 1.5fr);

        .controls {
          border-right: var(--border);
          display: grid;
          place-items: center;
        }

        .timeline {

        }
      }
    }
  }
}

div[role="tooltip"] {
  background: #e0b838;
  color: #ffffff;
  @include font-calculator($baseFontFamily, 11px, 0);
  padding: 2px;
  border-radius: 5px;
}

.fragmentDetails {
  color: red;
  font-size: "clamp(200%, 1rem + 2vw, 30px)";
}

video {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 11 / 8;
}